div{
    display: flex;
    gap: 20px;
}
aside{
    width: 180px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 8px;
}
aside li{
    padding: 10px 5px;
    cursor: pointer;
    transition: 0.3s;
}
aside li:hover{
    color: #1abc9c;
}
main{
    flex: 1;
    background: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
}
main p:nth-of-type(1){
    color: #333;
}
main p:nth-of-type(2){
    color: #1a73e8;
    font-weight: bold;
    border-left: 4px solid #1a73e8;
    padding-left: 10px;
}