h2{
    color: royalblue;
}
.intro{
    font-style: italic;
}
#title{
    color: darksalmon;
}
.m{
    font-weight: bold;
}
#death{
    color: cadetblue;
}
.foot{
    background-color: lightgray;
}
#abd{
    background-color: lime;
}
.mhd{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}